:root {
   --background-color: #c42217;
   --foreground-color: #58a339;
}

body {
   background-color: var(--background-color);
   color: var(--foreground-color);
   margin: 1rem;
}

hr {
   margin-top: 1rem;
   border-color: var(--foreground-color);
   border-radius: 0.1rem;
}

/* Grid */
main {
   display: grid;
   align-items: center;
   gap: 10px;
   grid-template-areas: 
      "timer"
      "todo";
}

@media (min-width: 60em) {
   main {
      grid-template-columns: 3fr 5fr 3fr;
      grid-template-areas:
         "todo  timer  timer";
   }
}

.grid-container {
   margin: 1rem;
}

main .todo-grid-section {
   grid-area: todo;
   background-color: var(--foreground-color);
   color: white;
   border-radius: 0.5rem;
}

main .timer-grid-section {
   grid-area: timer;
}