:root {
   --background-color: #c42217;
   --foreground-color: #58a339;
}

body {
   background-color: var(--background-color);
   color: var(--foreground-color);
   margin: 1rem;
}

header {
   background-color: var(--foreground-color);
   color: white;
   padding: 1em;
   text-align: center;
   border-radius: 1em;
}

.header-title {
   padding-bottom: 0;
   margin-bottom: 0;
}

.header-description {
   padding-top: 0;
   margin-top: 0.1rem;
}

hr {
   border-color: var(--foreground-color);
   border-radius: 0.1rem;
}